h1 {
    font-size: 32px;
    margin: 0px;
    padding: 4px;
    color: #222288;
}
hr {
    margin-top: 8px;
    margin-bottom: 8px;
}
th.login_field {
    font-size: 14px;
    width: 140px;
    text-align: left;
    padding: 8px;
    color: #333;
    background-color:#f5deb3;
    border-color: black;
    border-width: 2px;
}
td.login_field {
    padding: 8px;
}
td.login_button {
    text-align: center;
    padding: 8px;
}
table.toolbar {
    margin-top: 16px;
    margin-bottom: 32px;
}
table.list th {
    width: 150px;
    text-align: left;
    padding: 8px;
    color: #ffffff;
    background-color: #5555aa;
}
table.list td {
    background-color: #bbbbff;
    padding: 8px;
}
th.add_field {
    width: 150px;
    text-align: left;
    padding: 8px;
    color: #ffffff;
    background-color: #aaaaff;
}
td.add_field {
    padding: 8px;
}
td.add_button {
    text-align: center;
    padding: 8px;
}

